html {
  background: #b5326289;
  font: 62.5%/1.5em "Trebuchet Ms", helvetica;
}
#itemView {
            width: 770px;
            margin: 0 auto;
            height: 450px;
            overflow: auto;

        }

        .itemInfo {
            width: 245px;
            height: auto;
            margin: 2.5px;
            background: rgb(232, 223, 239);
            float: left;
            color: #000;
            padding-bottom: 0px;
        }

        .itemInfo div {
            padding-top: 7px;
        }

        .title {
            text-align: center;
            height: 50px;
        }

        .desc {
            width: calc(100% - 6px);
            height: 40px;
            resize: none;
        }

        h1 {
            text-align: center;
        }

        .pirce {
            color: red;
        }

        .pic {
            width: 245px;
        }

        #baskBtn {
            width: 140px;
            height"60px;
            color: #000;
        }

        #basketArea {
            width: 140px;
            height: 170px;
            position: fixed;
            right: 50px;
            bottom: 50px;

        }

        #bkPic {
            height: 110px;
        }


        .baskItemRemove {
            float: right;
            width: 80px;
            height: 25px;
        }
#basketList{
    width: 600px;
            height: 500px;
            background-color: rgba(255, 255, 128,0.9);
               position: fixed;
            z-index: 10;
            bottom: calc( 50% - 250px);
            right: calc( 50% - 300px);
            display: none;
            
}

.basketItem{
    background-color: orange;
    
}

.basketItemInfo{
     font-size: 1.5em;
    color: #121;
}
.basketItemQty{

  line-height: 1em;

  text-align: center;
}
 #itemList {
            width: 100%;
            height: 400px;
            overflow: auto;
            
        }
        
.orderInfo div{
    font-size: 1.5em
}
.bItemTitle{
  color: #black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
}
.itemTotalCost{
    font-size: 1.5em;
    color: #121;
}

.basketItemRemove,#pay,#gogotoshop{
  border-radius: 0.3em;
  font-size: 1.4em;
  font-weight: bold;
  background: #43ace3;
  color: #fff;
}

.basketItemRemove:hover{
    box-shadow: 0 3px 0 rgba(59,154,198, 0)
}

.addBtn,#basketBtn{
    width: 100%;
    height: 25px;
    font-family: 'Droid Sans', sans-serif;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	margin: 0px;
	border: 1px solid rgba(0,0,0,0.4) ;
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5),
				0 0 1px 1px rgba(255,255,255,0.8),
				0 0 0 6px rgba(0,0,0,0.06),
				0 0 0 3px rgba(0,0,0,0.1);
	cursor: pointer;
	background: rgb(143,200,0);
	background: -moz-linear-gradient(top,  rgba(143,200,0,1) 0%, rgba(102,142,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(143,200,0,1)), color-stop(100%,rgba(102,142,0,1)));
	background: -webkit-linear-gradient(top,  rgba(143,200,0,1) 0%,rgba(102,142,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(143,200,0,1) 0%,rgba(102,142,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(143,200,0,1) 0%,rgba(102,142,0,1) 100%);
	background: linear-gradient(top,  rgba(143,200,0,1) 0%,rgba(102,142,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc800', endColorstr='#668e00',GradientType=0 );
}

.addBtn:hover,#basketBtn:hover {
    background: rgb(102,142,0);
    background: -moz-linear-gradient(top,  rgba(102,142,0,1) 0%, rgba(143,200,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,142,0,1)), color-stop(100%,rgba(143,200,0,1)));
	background: -webkit-linear-gradient(top,  rgba(102,142,0,1) 0%,rgba(143,200,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(102,142,0,1) 0%,rgba(143,200,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(102,142,0,1) 0%,rgba(143,200,0,1) 100%);
	background: linear-gradient(top,  rgba(102,142,0,1) 0%,rgba(143,200,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#668e00', endColorstr='#8fc800',GradientType=0 );
}