<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        function checkEmail() {
            var email = $("#verEmail").val();
            var code = $("#verCode").val();
            var url = 'https://cde305-ncc0804.c9users.io/onlinelibrary/check';
            var json = JSON.stringify({
                email: email,
                code: code
            });



            $.ajax({
                type: "post",
                url: url,
                async: false,
                data: json,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    alert(data.message);

                },


            });

        }
    </script>
    <style type="text/css">
    </style>
    <title>Sample</title>
</head>

<body>
    <div class="header">
    </div>
    <div class="main">
 <button  onclick="location.href = './home';">Home</button>

        <h1>Verification Account</h1>
        <form onsubmit="return false">
            <label for="">email</label></label><input type="email" id="verEmail" name="" value="ngchungchingreal@gmail.com" /><br>
            <label for="">verification</label><input type="text" id="verCode" name="" value="verification code " /><br>
            <input id="btnSignup" onclick="checkEmail()" type="button" value="Start up account" />
        </form>

    </div>

</body>

</html>
