<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <style>
button {
    background-color: white;
    color: black;
    border: 1px solid #555555;
}
button:hover {
    background-color: #555555;
    color: white;
}
#submit {
    background-color: white;
    color: black;
    border: 1px solid #555555;
}
#submit:hover {
    background-color: #555555;
    color: white;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

</style>
            
  
    </style>
    <script>
    function addtolibrary(bid){  //add book to 
         var url = 'https://cde305-ncc0804.c9users.io/onlinelibrary/mylibrary/addbook';
                  var json = JSON.stringify({
               bid: bid
            });


            $.ajax({
                type: "post",
                url: url,
                async: false,
                data: json,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    alert(data.message);

                }


            });
    }
    
    
    </script>
    <style type="text/css">

    </style>
    <title>Sample</title>
</head>

<body>
    <div class="header">
        <h1>Library </h1>
        <%if(!islogin){%>
        <button  onclick="location.href = './login';">Login in</button>
        <button onclick="location.href = './register';">Registeration</button>
        <%}else{%>
         <button onclick="location.href = './logout';">logout</button>
         <button onclick="location.href = './mylibrary';">My library</button>
        <%}%>
        
        <%if (islogin){%>
        <h2>Wellcome <%=uname%> !</h2>
        <%}%>
        
        
    </div>
    <div class="main">
        <form action='./home' method='get' >
            <label for="">Search by Book name :</label></label><input type="text" id="bookName" name='bookName' value="" />
            <input type="submit" id="submit"  value="Search" />
        </form>

    </div>
    
    <div id="list">
    
  <h1>Result display</h1>
 
  <table>
     
  <% if (status){%>
  <%if (res.record>0){%>
   <th>Book Name </th><th>Author</th><th>bookPrice</th><th>categorie</th><th>publishdDate</th><th>publisher</th><th></th>
   <% res.results.forEach(function(data){ %>
   <tr>
      <div>
             <td><input type='text' disabled="disabled" value="<%=data.bookName%>" /></td> <td><input type='text' disabled="disabled" value="<%=data.author%>" /> </td> <td><input type='text'  disabled="disabled" value="<%=data.bookPrice%>" /></td> <td><input type='text' disabled="disabled" value="<%=data.categorie%>" /></td> <td><input type='text' disabled="disabled" value="<%=data.publishedDate%>" /></td><br>
            <td><input type='text' disabled="disabled" value="<%=data.publisher%>" /></td> </textBook name><% if(islogin){%><td><button  onclick="addtolibrary('<%=data.bookId%>')">ADD</button></td><%}%>
        </tr>
        <%});%>
        </table></div>
        
        
        
  <% }else{ %>  
  <h2>No Data</h2>
  <% }}else{%>
  <h1>Wellcome!</h1>
  <%}%>
        
    </div>

</body>

</html>
