<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>

        function login() {
            var email = $("#email").val();
            var pwd = $("#password").val();
            var url = 'https://cde305-ncc0804.c9users.io/onlinelibrary/login';
            var json = JSON.stringify({
                email: email,
                pwd: pwd
            });



            $.ajax({
                type: "post",
                url: url,
                async: false,
                data: json,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    alert(data.message);
                    if(data.status){
                        location.href = "./home";
                    }

                }


            });

        }


    </script>
    <style type="text/css">
    </style>
    <title>Sample</title>
</head>

<body>
    <div class="header">
    </div>
    <div class="main">
                <button  onclick="location.href = './home';">Home</button>
        <h1>Sign in</h1>
        <form onsubmit="return false">
            <label for="">email</label></label><input type="email" id="email" name="" value="ngchungchingreal@gmail.com" /><br>
            <label for="">Password</label><input type="password" id="password" name="" value="123456" /><br>
            <br>
            <input type="submit" onclick="login()" value="Login" />
            <button onclick="location.href = './register';">register</button><br>
            <button onclick="location.href = './check';">verification email</button>
            <br>

        </form>



    </div>

</body>

</html>
