<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
     <style>
button {
    background-color: white;
    color: black;
    border: 1px solid #555555;
}
button:hover {
    background-color: #555555;
    color: white;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

</style>
    <script>

        function deleteBook(id) { //delete book out to the own library
            alert();
            var url = 'https://cde305-ncc0804.c9users.io/onlinelibrary/mylibrary/deletebook';
            var json = JSON.stringify({
                bid: id,
                
            });


            $.ajax({
                type: "post",
                url: url,
                async: false,
                data: json,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    alert(data.message);
                    if(data.status){
                        location.reload();
                    }

                }


            });

        }
    </script>
    <style type="text/css">
    </style>
    <title>Sample</title>
</head>

<body>
    <div class="header">
        <h1>Book Mark</h1>
         <button onclick="location.href = './home';">Home</button>
         <button onclick="location.href = './logout';">logout</button>
    </div>
    <div class="main">

        <div id="list">


            <h1>favourite book library</h1>
           
<table>
      
<% if(status){ %>
<th>Book Name </th><th>Author</th><th>bookPrice</th><th>categorie</th><th>publishdDate</th><th>publisher</th><th></th>
            <%res.forEach(function(data){ %>
            
            <div class="booklist">
            <tr>
             <td><input type='text' disabled="disabled" value="<%=data.bookName%>" /></td> <td><input type='text' disabled="disabled" value="<%=data.author%>" /> </td> <td><input type='text'  disabled="disabled" value="<%=data.bookPrice%>" /></td> <td><input type='text' disabled="disabled" value="<%=data.categorie%>" /></td> <td><input type='text' disabled="disabled" value="<%=data.publishedDate%>" /></td><br>
            <td><input type='text' disabled="disabled" value="<%=data.publisher%>" /></td>
              <td><button onclick="deleteBook('<%=data.id%>')">Delete</button></td>
                <% }); %>
                </table></div>
<%}else{%>
EMPTY!
<%}%>





        </div>
    </div>

</body>

</html>
