<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
     <style>
button {
    background-color: white;
    color: black;
    border: 1px solid #555555;
}
button:hover {
    background-color: #555555;
    color: white;
}
</style>
    
    <script>

      function register() { 

            var email = $("#email").val();
            var name = $("#name").val();
            var password = $("#password").val();
            var url = 'https://cde305-ncc0804.c9users.io/onlinelibrary/register';
            var json = JSON.stringify({
                email: email,
                name: name,
                password: password
            });


            $.ajax({
                type: "post",
                url: url,
                async: false,
                data: json,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                   if(data.status){
                       alert("OK");
                   }else{
                       alert("not success");
                   }
                }
            });
        }

    </script>
    <style type="text/css">
    </style>
    <title>Sample</title>
</head>

<body>
    <div class="header">

    </div>
    <div class="main">
        <button  onclick="location.href = './home';">Home</button>
        

        <h1>Register</h1>
        <form onsubmit="return false">
            <label for="">email</label></label><input type="email" id="email" name="" value="" /><br>
            <label for="">UserName</label><input type="text" id="name" name="" value="" /><br>
            <label for="">Password</label><input type="password" id="password" name="" value="" /><br>


            <input id="btnSignup" onclick="register()" type="button" value="Sign up" />
             <button onclick="location.href = './check';">CHECK EMAIL</button><br>
        </form>



    </div>

</body>

</html>
