<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        function register() {

            var email = $("#regEmail").val();
            var name = $("#regName").val();
            var pwd = $("#regPwd").val();
            var url = 'https://cde305-ngchungpang.c9users.io/app/sign/register';
            var json = JSON.stringify({
                email: email,
                name: name,
                pwd: pwd
            });
            console.log(json);


            $.ajax({
                type: "post",
                url: url,
                async: false,
                data: json,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    alert(data.message);

                }


            });

        }

        function login() {
            var email = $("#loginEmail").val();
            var pwd = $("#loginPwd").val();
            var url = 'https://cde305-ngchungpang.c9users.io/app/sign/login';
            var json = JSON.stringify({
                email: email,
                pwd: pwd
            });



            $.ajax({
                type: "post",
                url: url,
                async: false,
                data: json,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    alert(data.message);
                    if(data.status){
                        location.href = "./index";
                    }

                }


            });

        }

        function verification() {
            var email = $("#verEmail").val();
            var code = $("#verCode").val();
            var url = 'https://cde305-ngchungpang.c9users.io/app/sign/verification';
            var json = JSON.stringify({
                email: email,
                code: code
            });



            $.ajax({
                type: "post",
                url: url,
                async: false,
                data: json,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    alert(data.message);

                },


            });

        }
    </script>
    <style type="text/css">
    </style>
    <title>Sample</title>
</head>

<body>
    <div class="header">
        <%= new Date() %>
    </div>
    <div class="main">
        <h1>Sign in</h1>
        <form onsubmit="return false">
            <label for="">email</label></label><input type="email" id="loginEmail" name="" value="ncp0804@gmail.com" /><br>
            <label for="">Password</label><input type="password" id="loginPwd" name="" value="123456" /><br>
            <br>
            <input type="submit" onclick="login()" value="Login" /><br>
            <br>

        </form>


        <h1>Register</h1>
        <form onsubmit="return false">
            <label for="">email</label></label><input type="email" id="regEmail" name="" value="ncp0804@gmail.com" /><br>
            <label for="">Name</label><input type="text" id="regName" name="" value="Ng Chung Pang" /><br>
            <label for="">Password</label><input type="password" id="regPwd" name="" value="123456" /><br>


            <input id="btnSignup" onclick="register()" type="button" value="Sign up" />
        </form>

        <h1>Verification Account</h1>
        <form onsubmit="return false">
            <label for="">email</label></label><input type="email" id="verEmail" name="" value="ncp0804@gmail.com" /><br>
            <label for="">verification</label><input type="text" id="verCode" name="" value="verification code " /><br>
            <input id="btnSignup" onclick="verification()" type="button" value="Start up account" />
        </form>

    </div>

</body>

</html>
